@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Animated gradient background */
.animated-gradient {
    background: linear-gradient(270deg, #11998e, #38ef7d, #48bf84);
    background-size: 600% 600%;
    animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}