@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Animated gradient background */
.animated-gradient {
  background: linear-gradient(270deg, #11998e, #38ef7d, #48bf84);
  background-size: 600% 600%;
  animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Custom Scrollbar Styles */
/* Works on Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #D3D3D3 #FFFFFF; /* Thumb color and track color */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: #FFFFFF; /* Track color */
  border-radius: 10px; /* Rounded corners for track */
}

*::-webkit-scrollbar-thumb {
  background-color: #D3D3D3; /* Thumb color */
  border-radius: 10px; /* Rounded corners for thumb */
}

/* To create a curved effect at the top and bottom of the thumb */
*::-webkit-scrollbar-thumb {
  border-radius: 50px; /* General rounding */
}

/* Create a pseudo-element for additional rounding effect */
*::-webkit-scrollbar-thumb::before {
  content: '';
  position: absolute;
  top: -4px; /* Adjust as necessary for visual effect */
  left: -4px;
  right: -4px;
  height: calc(100% + 8px); /* Extend beyond thumb height to create rounding effect */
  border-radius: inherit; /* Inherit rounding from thumb */
}

/* Adjust hover state for thumb */
*::-webkit-scrollbar-thumb:hover {
  background-color: #B0B0B0; /* Slightly darker gray on hover */
}

/* Hide the default arrows (if any) - This is primarily for Webkit browsers */
*::-webkit-scrollbar-button {
  display: none; /* Hides the top and bottom arrows */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.7s ease forwards;
}